<h1 mat-dialog-title>New trail</h1>
<div mat-dialog-content>
  <form [formGroup]="trailForm">
    <mat-form-field>
      <input matInput placeholder="Name" formControlName="name" />
      <mat-error>Required</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Start Point" formControlName="startPoint" />
      <mat-error>Required</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="End Point" formControlName="endPoint" />
      <mat-error>Required</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        placeholder="Touristic Marking"
        formControlName="touristicMarking"
      />
      <mat-error>Required</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Length" formControlName="length" />
      <mat-error>Required. Only numbers.</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        placeholder="Level Difference"
        formControlName="levelDifference"
      />
      <mat-error>Required. Only numbers</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Date" formControlName="date" />
      <mat-error>Required. (dd-mm-yyyy)</mat-error>
    </mat-form-field>
  </form>

  <div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Cancel</button>
    <button
      mat-button
      [mat-dialog-close]="trailForm"
      [disabled]="trailForm.invalid"
      cdkFocusInitial
      (click)="onAdd()"
    >
      Ok
    </button>
  </div>
</div>
