.login-card {
  max-width: 400px;
}

.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-button {
  color: white;
  background-color: steelblue;
}

.field {
  margin-bottom: 15px;
  display: block;
}

.divider {
  margin-left: 90px;
  height: auto;
  display: inline-block;
}
