table {
  width: 100%;
}
.make-green {
  background-color: palegreen;
}

.make-yellow {
  background-color: palegoldenrod;
}

.make-red {
  background-color: palevioletred;
}

.white-button {
  color: steelblue;
  background-color: white;
}

.blue-button {
  color: white;
  background-color: steelblue;
}

.red-button {
  color: white;
  background-color: crimson;
}

.gap {
  margin-right: 10px;
}

.left-gap {
  margin-left: 10px;
}
