.register-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.register-card {
  max-width: 400px;
}

.field {
  margin-bottom: 15px;
  display: block;
}

.register-button {
  color: azure;
  background-color: steelblue;
}
