<div class="register-container">
  <mat-card class="register-card">
    <mat-card-header>
      <mat-card-title> Register </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <!-- Email Input Field -->
      <form [formGroup]="registerForm">
        <mat-form-field class="field" appearance="fill">
          <mat-label>E-mail</mat-label>
          <input matInput type="text" [formControl]="email" />
          <mat-error *ngIf="email.invalid">Email address is invalid.</mat-error>
        </mat-form-field>
        <!-- Password Input Field -->
        <mat-form-field class="field" appearance="fill">
          <mat-label>Password</mat-label>
          <input
            matInput
            [type]="hide ? 'password' : 'text'"
            [formControl]="password"
          />
          <button
            mat-icon-button
            matSuffix
            (click)="hide = !hide"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide"
          >
            <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
          </button>
          <mat-error *ngIf="password.invalid">
            Must be atleast 6 characters long. Must contain one uppercase,
            lowercase, number and special character.
          </mat-error>
        </mat-form-field>
        <!-- Password Confirmation Input -->
        <mat-form-field class="field" appearance="fill">
          <mat-label>Password Confirmation</mat-label>
          <input
            matInput
            [type]="hide ? 'password' : 'text'"
            [formControl]="passwordConfirmation"
          />
          <button
            mat-icon-button
            matSuffix
            (click)="hide = !hide"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide"
          >
            <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
          </button>
          <mat-error *ngIf="passwordConfirmation.invalid">
            Must match password.
          </mat-error>
        </mat-form-field>
        <!-- Last Name Input Field -->
        <mat-form-field class="field" appearance="fill">
          <mat-label>Last Name</mat-label>
          <input matInput type="text" [formControl]="lastName" />
          <mat-error *ngIf="lastName.invalid"> Last Name required. </mat-error>
        </mat-form-field>
        <!-- First Name Input Field -->
        <mat-form-field class="field" appearance="fill">
          <mat-label>First Name</mat-label>
          <input matInput type="text" [formControl]="firstName" />
          <mat-error *ngIf="firstName.invalid">
            First Name required.
          </mat-error>
        </mat-form-field>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button class="button" (click)="onRegistration()">
        Register
      </button>
      <div class="divider"></div>
      <button mat-raised-button class="button" routerLink="/login">Back</button>
    </mat-card-actions>
  </mat-card>
</div>
